.row {
  text-align: -webkit-center;
}

.card {
  width: 18rem;
  border-radius: 5rem;

  &:nth-child(2n) {
    border : unset;
  }
}

.imageCentral {
  height: 300;
  width: 300;
}

@media screen and (max-width: 900px) {
  .imageCentral {
    height: 100;
    width: 100;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card:nth-last-child(1n) {
    margin-bottom: 20px;
  }
}
