.row {
  text-align: -webkit-center;
}

.card {
  width: 18rem;
  border-radius: 2rem;
}

.imageCentral {
  height: 300;
  width: 300;
}

.mobile {
  @media screen and (max-width: 900px) {
    display: unset !important;
    > img {
      width: unset;
    }
  }
}
